<%- include('header'); -%>
    <div class="space">

    </div>

    <div class="banner">
        <h2>Gestion des produits Location Sportive</h2>
    </div>

    <nav class="ariane">
        <a href="#">Accueil</a>
        <span>&gt;</span>
        <a class="gras" href="#">Gestion des produits</a>

    </nav>

    <div class="add-container">
        <div class="product-form">
            <form action="/addProduct" method="post">
                <h2>Ajouter un produit</h2>

                <div class="productPrice">
                    <label for="prix">Prix par jour (€) :</label>
                    <input type="text" id="prix" name="prix" placeholder="Prix par jour (€)" required>
                </div>

                <div class="productType">
                    <label for="type">Type du produit :</label>
                    <input type="text" id="type" name="type" placeholder="Type du produit" required>
                </div>

                <div class="productDescription">
                    <label for="description">Description du produit :</label>
                    <input type="text" id="description" name="description" placeholder="Description du produit"
                        required>
                </div>

                <div class="productMarque">
                    <label for="marque">Marque du produit :</label>
                    <input type="text" id="marque" name="marque" placeholder="Marque du produit" required>
                </div>

                <div class="productModel">
                    <label for="modele">Modèle du produit :</label>
                    <input type="text" id="modele" name="modele" placeholder="Modèle du produit" required>
                </div>

                <label for="productCondition">État du produit :</label>
                <select id="productCondition" name="productCondition">
                    <option value="Bon état">Bon état</option>
                    <option value="Etat satisfaisant">État satisfaisant</option>
                    <option value="Très bon état">Très bon état</option>
                    <option value="Neuf">Neuf</option>
                </select><br><br>

                <div class="btn-addProduct">
                    <button type="submit">Ajouter</button>
                </div>
            </form>


            <div class="error"></div>
        </div>

        <h2>Liste des produits</h2>
        <% products.forEach(function(element) { %>
                <ul class="product-list">
                    <li>
                        <span>
                            <%= element.type %>
                                <% element.modele %> - 15€/jour
                        </span>
                        <button><a href="/delete-product/<%= element.id%>">Supprimer</a></button>
                    </li>
                </ul>
            <% }); %>
    </div>

    <!-- Modal de modification -->
    <div id="updateModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Modifier les informations du produit</h2>
            <input type="text" id="modalProductName" placeholder="Nom du produit">
            <input type="text" id="modalProductPrice" placeholder="Prix par jour (€)">
            <button>Enregistrer les modifications</button>
        </div>
    </div>
    </div <%- include('footer'); -%>