<%- include('header'); -%>

<div class="space"></div>

<div class="banner"><h2>Nous Contacter</h2></div>

<nav class="ariane">
    <a href="/">Accueil</a>
    <span>&gt;</span>
    <a class="gras" href="/contact">Contacts</a>

</nav>

<div class="toutelapage">



<div class="contact-card">
    <div class="image-container">
        <img src="img/sportcontact.jpg" alt="Salle de sport">
    </div>


    <div class="contact-info">
        <div class="rectangle">
        <div class="contact-details">
            <p><img src="img/mail.png" alt="Email" class="icon"> Loc-Fitdu22@gmail.com</p>
            <p><img src="img/tel.png" alt="Téléphone" class="icon"> 07 01 02 03 04</p>
            
            
            <div class="social-media">
                <!-- Twitter -->
                <div class="social-item">
                    <a href="https://twitter.com/loc_fit" target="_blank">
                        <img src="img/logo_twitter.png" alt="Twitter">
                        <span>@loc_fit</span>
                    </a>
                </div>
        
                <!-- Instagram -->
                <div class="social-item">
                    <a href="https://instagram.com/loc_fit" target="_blank">
                        <img src="img/logo_insta.png" alt="Instagram">
                        <span>@loc_fit</span>
                    </a>
                </div>
        
                <!-- Facebook -->
                <div class="social-item">
                    <a href="https://facebook.com/loc_fit" target="_blank">
                        <img src="img/logo_fb.png" alt="Facebook">
                        <span>@loc_fit</span>
                    </a>
                </div>
        
                <!-- GitHub -->
                <div class="social-item">
                    <a href="https://github.com/loc_fit" target="_blank">
                        <img src="img/logo_github.png" alt="GitHub">
                        <span>@loc_fit</span>
                    </a>
                </div>
            </div>
        
        </div>
        </div>
        <div class="location">
            <p><img src="img/loca.png" alt="Localisation" class="icon"> 10 Rue Jules Ferry<br>22200 Pabu</p>
        </div>
    </div>
</div>
</div>

<%- include('footer'); -%>