<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Si vous etes sur cette page c'est qu'il y a un bug sur la suppression de produit </h1>
    
</body>

</html>