

</div>
<footer>
  
  <div class="footer-container">
      <div class="footer-logo">
          <img src="/img/logolocfit.png" alt="Locfit Logo">
      </div>

      <div class="footer-columns">
          <div class="footer-column">
              <h3>LOCFIT</h3>
              <ul>
                  <li><a href="/catalogue">Catalogue</a></li>
                  <li><a href="#">Annonces</a></li>
                 <% if(isAuth) {%>
                    <li><a href="/commandes-client">Livraisons</a></li>
                <% }else {%>
                    <li><a href="/compte">Livraisons</a></li>
                <%}%>
                  
              </ul>
          </div>

          <div class="footer-column">
              <h3>AIDES</h3>
              <ul>
                  <li><a href="contact">Contacts</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
              </ul>
          </div>

          <div class="footer-column">
              <h3>FAQ</h3>  
              <ul>
                  <li><a href="/compte">Compte</a></li>
                  <li><a href="#">Achats</a></li>
                  <li><a href="#">Paiement en magasin</a></li>
              </ul>
          </div>
      </div>

      <div class="footer-social">
          <a href="#"><img src="/img/logo_twitter.png" alt="Twitter"></a>
          <a href="#"><img src="/img/logo_fb.png" alt="Facebook"></a>
          <a href="#"><img src="/img/logo_insta.png" alt="Instagram"></a>
          <a href="#"><img src="/img/logo_github.png" alt="GitHub"></a>
      </div>
  </div>
</footer>
