<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LocFit by AMM</title>
  <link rel="stylesheet" href="/css/menu.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/video.css" />
  <link rel="stylesheet" href="/css/ana.css" />
  <link rel="stylesheet" href="/css/mael.css" />
  <link rel="stylesheet" href="/css/milo.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/js/script.js">
  <link rel="icon" type="image/png" href="/img/logolocfit.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
   <!-- heyyyyyyy-->
   <header>
    <nav class="menu-navigation">
      <div class="navigation">
        <ul>
          <li id="mainLOCFIT"><a href="/">LOCFIT</a></li>
          <% if((role === 'client') || (role == null)) {%>
        <li class="li-nav"><a href="/help">Aides</a></li>
        <% } %>
        <li class="li-nav"><a href="/catalogue">Catalogue</a></li>
        <% if((role === 'client') || (role == null)) {%>
        <li class="li-nav"><a href="/contact">Contact</a></li>
       
        <% } %>
        <% if(role === 'client') {%>
          <li class="li-nav"><a href="/commandes-client">Commandes</a></li>
          <% } %>
        <% if(role === 'admin') {%>
          <li class="li-nav"><a href="/inscriptionadmin">Admin</a></li>
        <% } %>
        <% if(role === 'agent') {%>
          <li class="li-nav"><a href="/addProduct">Produits</a></li>
          <li class="li-nav"><a href="/verif-commandes">Location(s)</a></li>
        <% } %>
          
          <% if (isAuth) { %>
            <li class="li-nav"><a href="/panier"><img class="panier-header" src="/img/panier.png" alt="panier icon"></a></li>
            <li class="li-nav"><a href="/compte"><img class="compte-header" src="/img/utilisateur.png" alt="compte icon"></a></li>
            <li class="li-nav"><a href="/deconnexion"><img class="compte-header" src="/img/deconnexion.png" alt="déconnexion icon"></a></li>
          <% } else { %>
            <li class="li-nav"><a href="/connexion"><img class="compte-header" src="/img/utilisateur.png" alt="compte icon"></a></li>
          <% } %>
        </ul>
      </div>
    </nav>
  </header>
</body>
</html>
