<%- include('header'); -%>
    <div class="space">

    </div>
    <div class="banner">
        <h2>Aides</h2>
    </div>

    <nav class="ariane">
        <a href="/">Accueil</a>
        <span>&gt;</span>
        <a class="gras" href="/help">Aides</a>

    </nav>

    <section class="location-guide">
        <h2 class="petittitre">Comment louer mon équipement sportif ?</h2>
        <div class="steps-container">
            <div class="step">
                <h2>1. CHOISIR LE PRODUIT</h2>
                <p>Je choisis le matériel avec les services associés sur decathlon.fr ou dans mon magasin préféré.</p>
            </div>
            <div class="step">
                <h2>2. CHOISIR LA DURÉE</h2>
                <p>3 jours ? 1 semaine ? Même 1 mois si vous voulez !</p>
            </div>
            <div class="step">
                <h2>3. PRATIQUER CHEZ VOUS</h2>
                <p>J’utilise mon produit en toute liberté en bénéficiant des services et des conseils associés :
                    entretien, casse, ...</p>
            </div>
            <div class="step">
                <h2>4. RETOURNER LE PRODUIT</h2>
                <p>Je me rends en magasin lorsque mon engagement est terminé pour retourner mon produit.</p>
            </div>
        </div>
    </section>

    
    <section class="location-guide">
        <h2 class="petittitre">Questions récurentes</h2>
        <div class="steps-container">
            <div class="step">
                <h2>Que faire si le matériel est défectueux ?</h2>
                <p>Contactez-nous immédiatement pour un échange ou une réparation.</p>
            </div>
            <div class="step">
                <h2>Comment contacter le service client ?</h2>
                <p>Vous pouvez nous contacter par email 7j/7.</p>
            </div>
            <div class="step">
                <h2>Comment laisser un avis ?</h2>
                <p>Vous recevrez un email après votre location pour laisser un avis sur notre site.</p>
            </div>
            <div class="step">
                <h2>Comment choisir la bonne taille de matériel ?</h2>
                <p>Consultez nos guides de taille disponibles sur chaque page produit.</p>
            </div>
        </div>
    </section>
 
    <%- include('footer'); -%>