<%- include('header'); -%>

    <div class="space">

    </div>

    <div class="banner">
        <h2>inscription agent</h2>
    </div>
    <div class="formulaireCentre">
        <div class="formcontainer">
            <form id="registrationForm" action="/inscriptionadmin" method="post">
                <div class="form-group">
                    <label for="name">Nom du nouvel Agent :</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="name">Prénom du nouvel Agent :</label>
                    <input type="text" id="name" name="surname" required>
                </div>

                <div class="form-group">
                    <label for="email">Email du nouvel Agent :</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="birthdate">Date de naissance du nouvel Agent :</label>
                    <input type="date" id="birthdate" name="ddn" required>
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe du nouvel Agent :</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="form-group">
                    <button type="submit">Création de l'agent</button>
                </div>
            </form>

            <p id="error-message" class="error"></p>
            <div class="form-group">
                <p>Déjà un compte ? <a href="/connexion">Se connecter</a></p>
            </div>
    

        </div>
    </div>

    

    <%- include('footer'); -%>