<%- include("header") %>
    <div class="space"></div>

    <div class="banner">
        <h2>Modification de compte</h2>
    </div>

    <nav class="ariane">
        <a href="/">Acceuil</a>
        <a href="/compte">Compte</a>
        <span>&gt;</span>
        <a class="gras" href="">Modification de compte</a>

    </nav>
    <div class="middleOfPage">
        <div class="form-container">
            <h2>Modifier le compte utilisateur</h2>

            <form action="/modif-account" method="post">
                <div class="form-group2">
                    <label for="nom">Nom</label>
                    <input type="text" id="nom" name="nom" placeholder="Votre nom" required>
                </div>

                <div class="form-group2">
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" name="prenom" placeholder="Votre prénom" required>
                </div>
                <div class="form-group2">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" placeholder="Votre mot de passe" required>
                </div>

                <div class="form-group2">
                    <label for="ddn">Date de naissance</label>
                    <input type="date" id="ddn" name="ddn" required>
                </div>

                <div class="form-group2">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Votre email" required>
                </div>
                <div class="form-group2">
                    <input type="checkbox" id="age-confirmation" name="age-confirmation" required>
                    <label for="age-confirmation">Je confirme avoir plus de 18 ans</label>
                </div>

                <div class="form-group">
                    <button type="submit">Modifier le compte</button>
                </div>
            </form>
        </div>
    </div>
    <div class="space"></div>
    <%- include("footer") %>