<%- include('header'); -%>

<div class="space"></div>

<div class="banner"><h2>confirmation</h2></div>

<nav class="ariane"></nav>
    <a href="#">Accueil</a>
    <span>&gt;</span>
    <a class="gras" href="#">Confirmation</a>


<div class="lapagevalidation">
    <div class="Recap_commande">
        <h1 class="recapH1">Récapitulatif de la commande</h1>
        <div class="pdf-viewer">
            <iframe src="path/to/your-recapitulatif.pdf" width="100%" height="500px"></iframe>
        </div>
        <div class="actions">
            <button class="validate">Valider</button>
            <button class="reject">Refuser</button>
        </div>
    </div>
</div>


</nav>

<%- include('footer'); -%>