/*Connexion & inscription*/

.formcontainer {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    justify-content: center;
}

.login-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.btnform {
    padding: 10px 20px;
    background-color: #057D09;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btnform:hover {
    background-color: #218838;
}

.error {
    color: red;
    margin-top: 10px;
}

.formulaireCentre {
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.form-group p {
    text-align: center;
    margin-top: 20px;
}

.form-group p a {
    color: #057D09;
    text-decoration: none;
}

.form-group p a:hover {
    text-decoration: underline;
}




input[type="checkbox"] {
    margin-right: 10px;
}

label[for="age-confirmation"] {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

/*Produit*/

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-section {
    flex: 1;
}

.product-image {
    width: 100%;
    max-width: 450px;
    height: auto;
}

.details-section {
    flex: 1;
    padding: 0 30px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
}

.price {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.delivery-info {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.delivery-info strong {
    color: #28a745;
}

.quantity-reserve {
    display: flex;
    align-items: center;
    gap: 20px;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls input {
    width: 50px;
    text-align: center;
    font-size: 18px;
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.quantity-controls button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.reserve-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.reserve-btn:hover {
    background-color: #218838;
}

.specs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.specs-section {
    flex: 1;
    padding-left: 20px;
}

.specs-section ul {
    list-style-type: none;
    font-size: 18px;
    color: #333;
}

.specs-section ul li {
    margin-bottom: 15px;
    font-size: 18px;
}

.middle-illustration {
    text-align: center;
}

.middle-illustration img {
    max-width: 250px;
    height: auto;
}

.fitness-image {
    flex: 1;
    text-align: right;
    padding-right: 20px;
}

.fitness-image img {
    max-width: 300px;
    height: auto;
}


/*pannier*/
.breadcrumb {
    margin: 20px;
    font-size: 14px;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
}

.cart-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delivery-info {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-image img {
    width: 200px;
    border-radius: 10px;
}

.item-details {
    flex: 1;
    padding: 0 20px;
}

.item-details h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-details .price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quantity-btn {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
}

.quantity {
    font-size: 18px;
    margin-right: 10px;
}

.refresh-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.date-range {
    font-size: 14px;
    color: #666;
}

.order-summary {
    text-align: right;
    min-width: 200px;
}

.order-summary .price-details {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 10px;
}

.order-summary .total-price {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.order-btn {
    background-color: #218838;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.order-btn:hover {
    background-color: #28a745;
}

.continue-btn {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.continue-btn:hover {
    background-color: #eec54a;
}

.order-actions {
    text-align: center;
    margin-top: 20px;
}

.cancel-btn {
    background-color: #f44336; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #e53935;
}

.cancel-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.cancel-message {
    color: #999;
    font-size: 14px;
    display: none; 
}

.order-actions.non-annulable .cancel-btn {
    display: none; 
}

.order-actions.non-annulable .cancel-message {
    display: block; 
}


/*avis client*/
.avis-clients {
    text-align: center;
    padding: 50px 0;
    background-image: url('/public/img/chemin.png');
    background-size: cover;
    background-position: center;
}

.avis-clients h2 {
    font-size: 36px;
    color: #198900;
    margin-bottom: 30px;
    margin-top: -80px;
}

.avis-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.avis {
    background: rgba(255, 255, 255, 0.9);
    /* Fond blanc avec transparence */
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.avis h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.avis span {
    color: #FFD700;
    /* Couleur or pour les étoiles */
    font-size: 18px;
}

.avis p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

.avis-clients {
    background-size: cover;
    /* L'image couvre toute la section */
    background-position: center;
    /* Centrer l'image */
    background-repeat: no-repeat;
    /* Éviter la répétition de l'image */
    padding: 50px 20px;
    /* Espacement autour du texte */
    color: white;
    /* Couleur de texte pour le contraste */
    text-align: center;
    /* Centrer les titres et avis */
    position: relative;
    /* Nécessaire pour positionner les éléments internes */
    z-index: 1;
    /* Garde la section en arrière-plan */
}

.avis-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 2;
    /* Met les avis au-dessus de l'arrière-plan */
}

.avis {
    background: rgba(255, 255, 255, 0.7);
    /* Fond blanc avec transparence */
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
    /* Couleur du texte pour un meilleur contraste */
    z-index: 3;
    /* S'assure que chaque avis est bien visible */
}

.avis h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    /* Texte bien lisible */
}

.avis span {
    color: #FFD700;
    /* Couleur or pour les étoiles */
    font-size: 18px;
}

.avis p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

.bouton-container {
    display: flex;
    justify-content: center;
    /* Centrage horizontal */
    align-items: center;
    /* Centrage vertical */
    height: 23vh;
    /* Prendre toute la hauteur de la fenêtre */
}

/* Bouton stylé */
.petitbouton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #357a38;
    /* Couleur verte foncée */
    color: white;
    /* Texte en blanc */
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    /* Forme arrondie */
    transition: background-color 0.3s ease;
}

.petitbouton:hover {
    background-color: #2e6d31;
    /* Changement de couleur au survol */
}

.arrow {
    margin-left: 10px;
    /* Espacement entre le texte et la flèche */
    font-size: 1.2rem;
}

/* Titre pour les avis (en couleur verte) */
.titreavis {
    color: #357a38;
}

/*add product*/

.add-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.product-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.product-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.product-form button {
    background-color: #218838;
    color: white;
    cursor: pointer;
    border: none;
    width: 15%;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.product-form button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.product-list {
    list-style: none;
    padding: 0;
}

.product-list li {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product-list li span {
    font-size: 18px;
}

.product-list li button {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-list li button:hover {
    background-color: #e53935;
}

.update-btn {
    background-color: #ffa500;
}

.update-btn:hover {
    background-color: #ff8c00;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
}
.btn-addProduct {
    display: flex;
    justify-content: center;
}
.modal input,
.modal button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal button {
    background-color: #218838;
    color: white;
    cursor: pointer;
    border: none;
}

.modal button:hover {
    background-color: #45a049;
}
