@font-face {
    font-family: 'IntegralCF Regular';
    src: url('../fonts/Fontspring-DEMO-integralcf-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntegralCF Bold';
    src: url('../fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IntegralCF Regular Oblique';
    src: url('../fonts/Fontspring-DEMO-integralcf-regularoblique.otf') format('opentype');
    font-weight: normal;
    font-style: oblique;
}



@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.otf') format('opentype');
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Satoshi-Bold', sans-serif;
    background-color: #D9D9D9;
}


header,
.texte {
    position: relative;
    z-index: 1;
    /* Au-dessus de la vidéo */
    color: white;

}

header {
    position: absolute;
    left: 50%;
    right: 50%;
    position: fixed;
}



/* Header styling */



/* Styles pour le texte */
.texte {
    margin-left: 50px;
    margin-top: 20vh;
    /* Ajuste la distance par rapport au haut de l'écran */
}

.texte h1 {
    font-size: 64px;
    margin-bottom: 10px;
    font-family: 'IntegralCF Bold', Arial, sans-serif;
}

.texte p {
    font-size: 24px;
}

.btn-catalogue button {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: 32px;
    background-color: #198900;
    color: white;
    border-radius: 45px;

}


.publocfit {
    display: flex;
    justify-content: space-around;
    color: white;
}


.main-para {
    max-width: 500px;
}



.slogan {
    font-size: 24px;
}


h3 {
    font-size: 40px
}

.petit {
    font-size: 16px;
    color: #D9D9D9;
    margin-top: -50px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #198900;
    height: 100px;
}

.banner h2 {
    font-family: 'IntegralCF Bold', Arial, sans-serif;
    color: white;
    font-size: 36px;
}

.allProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Centre les produits horizontalement */
}

.rotor {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    /* Centrer le texte du rotor */
}


.product img {
    max-width: 100%;
    /* Pour que l'image prenne toute la largeur du conteneur */
    min-height: 300px;
    object-fit: cover;
    /* Ajuste l'image à l'intérieur du conteneur sans la déformer */
    border-radius: 25px;
}

.title-product {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

.information-subject {
    margin-top: 10px;
}

.product {
    flex: 1 1 calc(25% - 20px);
    /* Prend 25% de la largeur moins l'espace entre les produits */
    box-sizing: border-box;
    /* Assure que padding/margin n'affecte pas la largeur */
    max-width: 300px;
    /* Assure que les produits ne dépassent pas une certaine taille */
    margin: 10px;
    text-align: center;
}

.link-discover {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}

.link-discover {
    color: white;
}

.btn-infos {
    background-color: #EBB100;
    border: none;
    height: 30px;
    width: 150px;
    border-radius: 25px;
    cursor: pointer;
    border-radius: 45px;
    margin-top: -20px;
    transition: 1s;
}

.btn-infos:hover {
    color: black;
    background-color: #ffd000;
    border: none;
    transition: 1s;
}

.btn-infos:hover a {
    color: black;
    transition: 1s;
}

.light-background {
    background-color: white;
}

.dark-background {
    background-color: black;
}



.space {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Animation pour l'apparition des éléments */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
    