@font-face {
    font-family: 'IntegralCF Regular';
    src: url('../fonts/Fontspring-DEMO-integralcf-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntegralCF Bold';
    src: url('../fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IntegralCF Regular Oblique';
    src: url('../fonts/Fontspring-DEMO-integralcf-regularoblique.otf') format('opentype');
    font-weight: normal;
    font-style: oblique;
}



@font-face {
    font-family: 'Satoshi-Bold';
    src:url('../fonts/Satoshi-Bold.otf') format('opentype');
    font-style: normal;
}



nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.nav-index2 ul li  {
    display: inline-block;
    margin: 0 15px;
    color: white;
    font-size: 36px;
    cursor: pointer;
    font-family: 'Satoshi-Bold', sans-serif;
    transition: 1s;
}
nav ul li {
    display: inline-block;
    margin: 0 15px;
    color: rgb(0, 0, 0);
    font-size: 36px;
    cursor: pointer;
    font-family: 'Satoshi-Bold', sans-serif;
    transition: 1s;
}

#mainLOCFIT {
    font-family: 'IntegralCF Bold', Arial, sans-serif;
}



nav {
    margin-top: 40px;
    
}

.nav-index2 .compte-header, .panier-header  {
    max-width: 30px;
    margin-top: 12.5px;
}

nav .compte-header, .panier-header {
    max-width: 30px;
    margin-top: 12.5px;
    filter: invert()
}

nav .compte-header, .panier-header {
    max-width: 30px;
    margin-top: 12.5px;
    filter: invert()
}

nav li a {
    list-style: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.nav-index2 li a {
    list-style: none;
    color: white;
    text-decoration: none;
}

.li-nav:hover {
    transition: 0.5s;
    text-decoration: underline;
}


nav.menu-navigation {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D9D9D9;
    z-index: 1000;
    margin-top: 0px;
    height: 125px;
}

nav.nav-index2.scrolled {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D9D9D9;
    z-index: 1000;
    margin-top: 0px;
    height: 125px;
}


.nav-index2.scrolled .panier-header {
    filter: none;
}

.nav-index2.scrolled .compte-header {
    filter: none;
}


.li-nav:hover {
    transition: 0.5s;
    text-decoration: underline;
}

nav.menu-navigation .navigation ul .compte-header {
    filter: none;
}

nav.menu-navigation .navigation ul .panier-header {
    filter: none;
}


a {
    list-style: none;
    text-decoration: none;
    color: white;
}